@charset "utf-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, header, footer, nav, section {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    border: 0;
    display: block;
}

a, u {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

em, i {
    font-style: normal;
}

hr {
    margin: 0;
}

b, strong {
    font-weight: 100;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/*nav*/

nav img {
    height: 40vw;
    width: 100vw;
    display: flex;
    margin-top: 12vw;
}

/*section */

section {
    flex: 1;
    overflow: auto;
    background: #f8f8f8
}

section ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 2vw;
}

section li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 24vw;
    width: 25%;
    align-items: center;
    color: #f96268
}

section li i {
    font-size: 5.86vw !important;
}

section li span {
    font-size: 3vw;
    color: #808080;
    margin-top: 2vw;
}

/*main*/
main {
    height: 51.66vw;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 0 22px 0 22px;
}

p {
    height: 9.6vw;
    align-items: center;
    font-size: 2.7vw;
    line-height: 9.6vw;
}

main img {
    height: 33.14vw;
}

main div {
    height: 9.4vw;
    justify-content: space-between;
    display: flex;
}

main div u {
    font-size: 2.7vw;
    line-height: 9.6vw;
}

main div span {
    justify-content: flex-end;
    font-size: 2.7vw;
    line-height: 9.6vw;
}
.oimg{ height: 50vw;width: 100%;}
.odiv {width:50vw;display: flex;}
.odiv h3{margin-right: 1vw;width:30.53vw;display: flex;justify-content:space-between;color: #f96268}
.odiv h3 img{width:10.53vw;height:10.125vw;}




